.mainheader {
  color: #fff;
//margin-top: 2%;
  // margin-left: 2%;
  padding-top: 1%;
  

  h3 {
    font-style: italic;
  }

  p {
    margin-top: -0.5rem;

    font-size: 1rem;
    font-weight: bold;
  }

  span {
    font-size: 2rem;
    color: darkorange;
    font-family: "Permanent Marker", cursive;
    margin-left: 1rem;
  }
}
