.productspage {
  &_info {
    margin-left: 2%;
  }
  &_item {
    height: 35rem;
    width: 25rem;
    background-color: rgb(46, 45, 45);
    border-radius: 20px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  }

  &_item:not(:last-child) {
    margin-right: 2rem;
  }
}
